---
import portafolio from '../json/portafolio.json';

const { experiencia } = portafolio;
---

<section class="experiencia-laboral  text-white flex justify-center">
  <div class="w-full max-w-5xl">
    <h2 class="text-3xl font-bold mb-8 text-center">Experiencia Laboral y Freelance</h2>
    <div class="timeline relative pl-10">
      <div class="absolute left-5 top-0 bottom-0 w-1 bg-yellow-500"></div>
      {experiencia.map((trabajo, index) => (
        <div key={index} class="timeline-item relative mb-8">
          <div class="timeline-icon absolute left-0 top-0 w-4 h-4 bg-yellow-500 rounded-full"></div>
          <div class="timeline-content ml-10">
            <h3 class="puesto text-lg font-bold text-yellow-500">
              <span class="titulo">{trabajo.title}</span> en <span class="empresa italic text-white">{trabajo.company}</span>
            </h3>
            <p class="fecha text-gray-400 mb-2">{trabajo.date}</p>
            <p class="descripcion mb-4">{trabajo.description}</p>
            
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .experiencia-laboral {
    text-align: center;
  }
</style>
